*{
    margin: 0;
    padding: 0;
}

header{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    margin: 0px 20px;
}


a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: black;
}

a:hover{
    color: red;
}